<h1>HATEEY KOLOMEY</h1> 
<div class="login-page">
    <div class="form">
        <form class="register-form">
           
           
            <button id="create" type = "button" onclick="window.location.href = './users/register'">Create</button>
           <p class="message"> Already Registered? <span id="loginLink">Login</span></p>

        </form>
        <form class="login-form">

            
           <!-- <input id="login" type = "button" onclick="window.location.href = './chat.html'" value ="Log in"/>-->
           <button id="login" type = "button" onclick="window.location.href = './users/login'">Log in</button>
            <p class="message">Not Registered? <span id="registerLink">Register</span></p>
            
        </form>
    </div>
    
</div>
